<!doctype html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ "/css/mainVerticalOK.css" | prepend: site.baseurl }}">
        
        <link rel="stylesheet" href="{{ "/css/mainVertJcarousel.css" | prepend: site.baseurl }}" />
         <noscript></noscript>
               
        
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
        
        <script src="{{ "/js/vendor/modernizr-2.8.3.min.js" | prepend: site.baseurl }}"></script>
     </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->





<!--content-->
<header role="banner">
<div class="head" id="container-nav">
    <section id="nav" class="wrapper">
	    <!-- Checkbox Hack markup -->
       <input type="checkbox" id="toggle" />
       <label for="toggle" onclick >Menu</label>
       <!-- /Checkbox Hack markup -->
            <nav>
        			<ul id="menu">
        			<li><a href="{{ site.baseurl }}/">Home</a></li>
        			{% for gallery in site.data.gallery %}
        			 <li><a href="{{ site.baseurl }}/{{ gallery.id }}">{{ gallery.id }}</a></li>
        			 {% endfor %}
        			</ul>
        		</nav><!-- /end .nav -->
        		
        		
        		<ul>{% for gallery in site.data.galleries %}
        		 <li><a href="{{site.baseurl }}{{ gallery.id }}">[{{ gallery.description }}]({{ gallery.id }})</a></li>
        		 {% endfor %}
        		</ul>
    </section>
         
</div><!-- /end head -->
