{% include header.html %}

<section class="main" role="main">
<article>

    <div class="toto noCarousel">
				<ul id="thumb-carousel">
				{% for gallery in site.data.gallery %}
				    {% if gallery.id == page.galleryid %}
				        {% for image in gallery.images %}
				        <li><img src="{{ site.baseurl }}{{ gallery.imagefolder }}/{{ image.name }}"  alt="{{ image.name }}" class="outdoorShadow"/></li>
					
					{% endfor %}
					  {% endif %}
					{% endfor %}				
				</ul>
	</div><!-- End jCarousel -->
</article>
</section>

{% include footer.html %}
